<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kurs Vue.js - Przykład 11</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.0/spectre.min.css">
    <style>
        .container {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

    <div class="container grid-lg">

        <div id="app" v-cloak>
            <h1>Licznik: {{ counter }}</h1>
            <button class="btn btn-primary" @click="increment(2, $event)" :disabled="counter >= 10">Zwiększ licznik</button>
        </div>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            counter: 0
        },
        methods: {
            increment: function (by, e) {
                console.log(e);
                this.counter+= by;
            }
        },
    });

</script>
</body>
</html>